.wrapper{
    border: 1px solid black;
    border-top-right-radius: 20px;
    padding: 0.6rem 1.2rem;
    width: 70px;
    text-align: center;
    font-family: monospace;
    position: relative;
    bottom: 20px;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        background-color: rgb(228, 228, 228);
    }
}