@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    
    .inActiveCelebrateBtn{
        width: 70px;
        padding: 12px;
        background: #aaecc6;
        color: white;
        margin: 0.5rem 0 1.3rem  0;
        border-style: none;
        border-radius: 7px;
        font-size: 15px;
        font-family:'Roboto', sans-serif;
        letter-spacing: 1px;
    }
    .celebrateBtn {
        width: 70px;
        padding: 12px;
        background: #27ae60;
        color: white;
        margin: 0.5rem 0 1.3rem  0;
        border-style: none;
        border-radius: 7px;
        font-size: 15px;
        font-family:'Roboto', sans-serif;
        letter-spacing: 1px;
    }
    
    .celebrateBtn:hover {
        background: #1c974f;
    }
}









 