@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

h2 {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-family:'Secular One', sans-serif ;
    letter-spacing: 1px;
    margin: 5px;
    margin-top: -10px;
}