@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.showBalance{
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
    color: rgb(77, 77, 77);
    margin: 0;
}

.piggy {
    width: 8rem;
    margin: 0;
    position: relative;
    right: 12px;
    padding: 0.5rem;
}
