.wrapper {
  padding: 1rem;
}

.wrapper .printFormBtn {
  padding: 0.8rem;
  border: none;
  border-radius: 7rem;
  outline: 1px solid black;
}

#addSavingGoalContainer {
  margin-top: 0px;
}

#addSavingGoalForm {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  max-width: 300px;
}

#saveGoalBtn {
  max-width: 100px;
  border-radius: 7rem;
  border: none;
  padding: 0.5rem;
}
