.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 25px;
}

.wrapper .inputAmount {
  margin: 0.3rem;
  font-size: 15px;
  max-width: 9rem;
  border-radius: 6px;
  border-color: #dddddd;
}

.wrapper .button {
  background-color: #27ae60;
  border-radius: 50%;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 11px 19px;
  transition: all 0.2s;
}

.wrapper .button:hover {
  background-color: #1e8449;
}

.wrapper .button:active {
  transform: translateY(2px);
}
