.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 4rem;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.wrapper p {
  font-family: monospace;
  font-size: 2rem;
}

.wrapper .App {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(960deg);
  }
}
