.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9e3ad7e;
    max-height: 320px;
    border-radius: 80px;
    width: 300px;
    min-width: 300px;
    padding:0;
}