.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 187, 235);
    max-height: 320px;
    border-radius: 20px;
    width: 300px;
    min-width: 300px;
    padding:0;
}